# .env.local
NEXT_PUBLIC_PRODUCT_API_ABSOLUTE_URL=https://6a0d7b4c769682b8ee764a71.mockapi.io/api/v1/
JWT_SECRET=my_super_secret_key
GNEWS_API_KEY=f62d98896e1b40fd5a1490e81885849b
GNEWS_BASE_URL=https://gnews.io/api/v4
